.form{
    background-image:linear-gradient(110deg , white 0% , white 50% , transparent 50%),
    url(../../image/geranimo-WJkc3xZjSXw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0 ,0 ,0 ,0.3);
    padding: 30px;
}
.custom-form{
    width: 50%;
}
.form-c{
    margin-bottom: 20px;
    position: relative;
}
.form-c label ,
.form-c input{
    display: block;
}
.form-c input{
    padding: 13px;
    outline: none;
    border-radius: 3px;
    border: 0;
    background-color: white;
    width: 80%;
    border-bottom: 3px solid transparent;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 0 10px rgb(153, 152, 152) inset;
}
.form-c label{
    position: absolute;
    top: -17px;
    left: 0px;
    font-size: 13px;
    color: gray;
    font-weight: bold;
    transition: 0.3s;
}
.form-c input:focus:valid{
    border-bottom: 3px solid green;
}
.form-c input:focus:not(:valid){
    border-bottom: 3px solid orangered;
}
.form-c input:placeholder-shown + label{
    opacity: 0;
    visibility: hidden;
    top: 20px;
}

#am{
    color: #205e20;
}
#mo{
    margin-top: 3px;
}